/* 
ARCONIX PORTFOLIO CSS
--------------------------

PLEASE DO NOT make modifications to this file directly as it will be overwritten on update.
Instead, save a copy of this file to your theme or child theme directory. It will then be
loaded in place of the plugin's version and will maintain your changes on upgrade
*/

/* Feature Wrapper */
.arconix-portfolio-features {
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    margin: 0 0 10px 0 !important;
    padding: 0 0 10px 0 !important;
}

/* Each feature list item */
.arconix-portfolio-features li {
    display: inline;
    margin-left: 2%;
}

/* Each feature link */
.arconix-portfolio-features li a {
    background: none repeat scroll 0 0 #eee;
    border-radius: 3px;
    color: #666;
    font-size: 12px;;
    line-height: 1.5em;
    padding: 5px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.arconix-portfolio-features li a:hover,
.arconix-portfolio-features li.active a {
    background: none repeat scroll 0 0 #888;
    color: #fff;
}

/* The Heading to the left of the items */
.arconix-portfolio-category-title { 
    margin-left: 0;
    font-weight: bold;
}

/* The portfolio item grid */
.arconix-portfolio-grid {
    margin-left: 0;
}

/* Each portfolio list item */
.arconix-portfolio-grid li {
    display: inline-block;
    list-style: none;
    margin: 0 1.5% 15px 0 !important;           
    max-width: 100%;
    width: 280px;
    height: auto;
    vertical-align: top;
}

/* Portfolio featured image */
.arconix-portfolio-grid img {
    background-color: #fff;
    padding: 2px;
    border: 2px solid #eee;
}

/* Portfolio post-title */
.arconix-portfolio-title {
    font-size: 17px;
    margin-bottom: 3px !important;
    text-align: center;
}
